 <head>
   <link rel="stylesheet" href="css/nav.css">
 </head>
 <!--Header-->
    <header class="header">
      <nav class="nav container">
         <div class="nav__data">
            <a href="/" class="nav__logo">
               <i class="ri-planet-line"></i> IT Incubator
            </a>
            
            <div class="nav__toggle" id="nav-toggle">
               <i class="ri-menu-line nav__burger"></i>
               <i class="ri-close-line nav__close"></i>
            </div>
         </div>

         <!--=============== NAV MENU ===============-->
         <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
               <li><a href="/" class="nav__link">Home</a></li>

               <li><a href="/about" class="nav__link">About</a></li>
               <li><a href="#features" class="nav__link">Features</a></li>
               <li><a href="#team" class="nav__link">Team</a></li>
               <li><a href="#footer" class="nav__link">Contact Us</i></a>
              <li>
              <a href="/login" class="spc-btn">Login
              </a>
            </li>
            <li>
              <a href="/register" class="spc-btn2">
              Sign Up
              </a>
            </li>
            </ul>
         </div>
      </nav>
   </header>